<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group add</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
<div th:insert="~{fragment/nav::nav}"></div>

<h2 class="text-center">Add group and author </h2>


<div class="container w-50">
    <form id="add-faculty" class="needs-validation">
        <div class="form-row">
            <h2 class="text-center">Faculty add</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit" class="btn btn-success">Add</button>
                    <div class="dropdown-menu container-fluid">
                        <ol id="facultcvies-list" class="list-group list-group-numbered pl-2"
                            style="max-height: 200px; overflow-y: scroll">

                        </ol>
                    </div>
                </div>
                <input id="faculty-in" required type="text" name="facultyName" class="form-control"
                       aria-label="Text input with segmented dropdown button">
            </div>
        </div>
    </form>
<br>
<br>
<br>

    <form id="add-group" class="needs-validation">
        <div class="form-row">
            <h2 class="text-center">Group add</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-prepend">
                        <label class="input-group-text" >Group name: </label>
                    </div>

                    <div class="dropdown-menu container-fluid">
                        <ol class="list-group list-group-numbered pl-2"
                            style="max-height: 200px; overflow-y: scroll">
                            <li class="ml-3" th:each="g : ${groups}">
                                <p href="author/" th:text="${g.getName()+' -> '+ g.getFaculty().getName()}"
                                   class="list-group-item"></p>

                            </li>

                        </ol>
                    </div>
                    <button id="group-list-btn" type="button"
                            class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Groups list</span>
                        Groups list
                    </button>
                </div>
                <input id="group-in" required type="text" name="groupName" class="form-control"
                       aria-label="Text input with segmented dropdown button">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="faculties-list">Faculty: </label>
                </div>
                <select  class="custom-select" name="faculty" id="faculties-list" required>
                    <option th:each="f : ${faculties}" th:value="@{{id}(id = ${f.getId()})}">
                        <p th:text="${f.getName()}"
                           class="list-group-item"></p>
                    </option>
                </select>
            </div>
            <div class="input-group mb-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Add Group</button>

            </div>

        </div>
    </form>

</div>
<script>
    function isEmpty(value) {
        return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
    }

    $("#add-group").submit(function (e) {

        e.preventDefault();

        if (isEmpty($("#group-in").val())) {
            return;
        }

        var form = $(this);
        $.ajax({
            type: "POST",
            url: "/add/groupAdd",
            data: form.serialize(),
            success: function () {
                window.location.href = "/add/groupAdd";
            }
        });

    });
    $("#add-faculty").submit(function (e) {

        e.preventDefault();

        if (isEmpty($("#faculty-in").val())) {
            return;
        }

        var form = $(this);
        $.ajax({
            type: "POST",
            url: "/add/facultyAdd",
            data: form.serialize(),
            success: function () {
                faculties_list();
            }
        });

    });

    function faculties_list () {

        $.ajax({
            type: "GET",
            url: "/add/faculties",
            processData: false,
            contentType: false,
            cache: false,
            timeout: 6000,
            success: function (data) {
                if (data != "") {
                    $("#faculties-list").empty();
                    $("#faculties-list").append(data);
                } else {
                    $("#faculties-list").empty();
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
                $("#faculties-list").empty();
            }
        });
    }


</script>

</body>
</html>